h1{
    color: white;
    text-align: center;
}
a:link{
    color: white;
}    
ul{
    color: white;
}
ol{
    color: white;
}
th{
    color: white;
}
tr{
    color: red;
}
body{
    background-color:rgb(25, 13, 80);
}