h1{
    color: white;
    text-align: center;
    text-decoration:underline;
}
body{
    background-color:grey;
}
p{
    width: 50%;
}
h2{
    color: darkblue;
}
h3{
    color: red;
}
ul{
    color: white;
}